<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML5 Links</title>
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>
    <div id="links-container">
        <div class="link-section" id="link-section-green">
            <a href="https://qu.edu.qa" target="_blank" class="link-text">Go to QU website (open a new tab)</a>
        </div>
        
        <div class="link-section" id="link-section-gray">
            <a href="https://qu.edu.qa" class="link-text">Go to QU website (open in the same page/tab)</a>
        </div>
        
        <div class="link-section" id="link-section-black">
            <a href="https://qu.edu.qa" class="link-text">Go to QU website (open in the same page/tab)</a>
        </div>
    </div>
</body>
</html>
